[project]
	description = repo - The Multiple Git Repository Tool
	state = active
[receive]
	requireChangeId = true
[submit]
[access "refs/*"]
	owner = group git-repo-maintainer
[access "refs/for/refs/heads/stable"]
	exclusiveGroupPermissions = push
[access "refs/heads/*"]
	label-Verified = -1..+1 group git-repo-maintainer
	label-Verified = -1..+1 group repo-contributor
	label-Code-Review = -2..+2 group git-repo-maintainer
	submit = group git-repo-maintainer
	rebase = group repo-contributor
	abandon = group repo-contributor
[access "refs/heads/maint"]
	push = group git-repo-maintainer
[access "refs/heads/master"]
	push = group git-repo-maintainer
[access "refs/heads/stable"]
	exclusiveGroupPermissions = push
	push = group git-repo-maintainer
[access "refs/tags/*"]
	pushTag = group git-repo-maintainer
	pushSignedTag = group git-repo-maintainer
[access]
	inheritFrom = Public-Projects
