[project]
	description = repo - The Multiple Git Repository Tool
[receive]
	requireContributorAgreement = true
	requireChangeId = true
[submit]
	action = fast forward only
[access "refs/*"]
	owner = group tools-owners
[access "refs/for/refs/heads/stable"]
	exclusiveGroupPermissions = push
[access "refs/heads/*"]
	label-Verified = -1..+1 group tools-owners
	label-Code-Review = -2..+2 group tools-owners
	submit = group tools-owners
[access "refs/heads/maint"]
	push = group tools-repo-maintainer
[access "refs/heads/master"]
	push = group tools-repo-maintainer
[access "refs/heads/stable"]
	exclusiveGroupPermissions = read create push
	read = group Anonymous Users
	push = group tools-repo-maintainer
[access "refs/tags/*"]
	pushTag = group tools-repo-maintainer
