[project]
	description = repo - The Multiple Git Repository Tool
	state = active
	inheritFrom = Public-Projects
[receive]
	requireContributorAgreement = true
	requireChangeId = true
[submit]
	action = fast forward only
[access "refs/*"]
	owner = group repo-maintainer
[access "refs/for/refs/heads/stable"]
	exclusiveGroupPermissions = push
[access "refs/heads/*"]
	label-Verified = -1..+1 group repo-maintainer
	label-Code-Review = -2..+2 group repo-maintainer
	submit = group repo-maintainer
[access "refs/heads/maint"]
	push = group repo-maintainer
[access "refs/heads/master"]
	push = group repo-maintainer
[access "refs/heads/stable"]
	exclusiveGroupPermissions = push
	push = group repo-maintainer
[access "refs/tags/*"]
	pushTag = group repo-maintainer
